nodeRed.json
[{"id":"31603ffac1920ac8","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"2bd51c9c090981a6","type":"ui_form","z":"31603ffac1920ac8","name":"","label":"","group":"e9d977f261fc5911","order":1,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"p","type":"number","required":true,"rows":null},{"label":"Glucose","value":"g","type":"number","required":true,"rows":null},{"label":"BloodPressure","value":"bp","type":"number","required":true,"rows":null},{"label":"SkinThickness","value":"st","type":"number","required":true,"rows":null},{"label":"Insulin","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"b","type":"number","required":true,"rows":null},{"label":"DiabetesPedigreeFunction","value":"d","type":"number","required":true,"rows":null},{"label":"Age","value":"a","type":"number","required":true,"rows":null}],"formValue":{"p":"","g":"","bp":"","st":"","i":"","b":"","d":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":70,"y":40,"wires":[["aaf25dafcf72c47c"]]},{"id":"d612c31c9d1f9946","type":"debug","z":"31603ffac1920ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":60,"wires":[]},{"id":"aaf25dafcf72c47c","type":"function","z":"31603ffac1920ac8","name":"global variables for form node","func":"global.set(\"Pregnancies\",msg.payload.p)\nglobal.set(\"Glucose\",msg.payload.g)\nglobal.set(\"BloodPressure\",msg.payload.bp)\nglobal.set(\"SkinThickness\",msg.payload.st)\nglobal.set(\"Insulin\",msg.payload.i)\nglobal.set(\"BMI\",msg.payload.b)\nglobal.set(\"DiabetesPedigreeFunction\",msg.payload.d)\nglobal.set(\"Age\",msg.payload.a)\nvar apikey = \"d8d476c9-9c36-496a-92ce-991d2d02c56a\"\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload= {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":100,"wires":[["d612c31c9d1f9946","9363f541b06bf8e3"]]},{"id":"9363f541b06bf8e3","type":"http request","z":"31603ffac1920ac8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":370,"y":160,"wires":[["54165e545b17e19c","f408a4c3395aa470"]]},{"id":"54165e545b17e19c","type":"debug","z":"31603ffac1920ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":240,"wires":[]},{"id":"f408a4c3395aa470","type":"function","z":"31603ffac1920ac8","name":"","func":"var Pregnancies=global.get(\"Pregnancies\")\nvar Glucose=global.get(\"Glucose\")\nvar BloodPressure=global.get(\"BloodPressure\")\nvar SkinThickness=global.get(\"SkinThickness\")\nvar Insulin=global.get(\"Insulin\")\nvar BMI=global.get(\"BMI\")\nvar DiabetesPedigreeFunction=global.get(\"DiabetesPedigreeFunction\")\nvar Age=global.get(\"Age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type':'application/json','Authorization':'Bearer '+token,'Accept':'application/json'}\nmsg.payload={\"input_data\":[{\"fields\":[[\"Pregnancies\",\"Glucose\",\"BloodPressure\",\"SkinThickness\",\"Insulin\",\"BMI\",\"DiabetesPedigreeFunction\",\"Age\"]],\"values\":[[Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":120,"wires":[["59b05cd6c071594c"]]},{"id":"59b05cd6c071594c","type":"http request","z":"31603ffac1920ac8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/ca52eee1-1e21-4e54-8266-def59af4f844/predictions?version=2022-01-12","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":650,"y":180,"wires":[["0a1939220aaf8d44","b30127fe47b8bcd5"]]},{"id":"0a1939220aaf8d44","type":"debug","z":"31603ffac1920ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":120,"wires":[]},{"id":"b30127fe47b8bcd5","type":"function","z":"31603ffac1920ac8","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":260,"wires":[["48c9d8ef5a40a225","d2f6ac8838283901"]]},{"id":"48c9d8ef5a40a225","type":"debug","z":"31603ffac1920ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":260,"wires":[]},{"id":"d2f6ac8838283901","type":"ui_text","z":"31603ffac1920ac8","group":"e9d977f261fc5911","order":2,"width":0,"height":0,"name":"","label":"The predicted value is","format":"{{msg.payload}}","layout":"row-spread","className":"","x":910,"y":360,"wires":[]},{"id":"e9d977f261fc5911","type":"ui_group","name":"Enter the values","tab":"b254721a32de291f","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b254721a32de291f","type":"ui_tab","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false}]